ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tab-content {
    padding-top: 10px;
}

.profile .avatar {
    border: none;
}

.profile .avatar .panel-body {
    padding: 0;
}

.profile .avatar img {
    width: 100%;
    height: 200px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
}

.profile .name {
    display: inline-block;
    width: 200px;
    margin-right: 20px;
}

.profile .value {
    display: inline-block;
    font-weight: bold;
}